<div class="imagebar" alt="" style="background-image: url({entity.image || (entity.type == 'Gemeente' ? 'landschap.jpg' : 'gebouw.jpg')})"></div>
<div class="headerbar">
	<div class="breadcrumb">
		<div class="container">
			<img alt="" src="{entity.logo || entity.parents && entity.parents[entity.parents.length -1] && entity.parents[entity.parents.length -1].parent.medewerkers[0].count > 0 ? 'noprofile.svg' : 'missinglogo.svg'}">
			<div class="path">
				{#if entity.parents}
					{#each entity.parents as node}
						{#if node.parent.medewerkers[0].count == 0}
						<a href="{makeurl(node.parent)}">{name(node.parent)}</a>
						&nbsp;&gt; 
						{/if}
					{/each}
					{#if entity.parents[entity.parents.length -1] && entity.parents[entity.parents.length -1].parent.medewerkers[0].count > 0}
						{entity.parents[entity.parents.length -1].parent.naam}
					{/if}
					{name(entity)}
				{:else}
					{name(entity)}
				{/if}
			</div>
		</div>
	</div>
</div>
<div class="container">
	<aside>
		<div class="reporterrorbox">
			<p>We horen het graag als onze informatie niet correct of onvolledig is.</p>
			<button>Meld een fout</button>
		</div>
	</aside>
	<div class="content">
		<h1>{name(entity)}</h1>
		<p>
			{#if entity.type}
				<div class="keyvalue"><div class="key">Type</div><div class="values">{entity.type}</div></div>
			{/if}
			{#if entity.partij}
				<div class="keyvalue"><div class="key">Partij</div><div class="values">{entity.partij}</div></div>
			{/if}
			{#if entity.parents && entity.parents[entity.parents.length -1] && entity.parents[entity.parents.length -1].parent.medewerkers[0].count > 0}
				<div class="keyvalue"><div class="key">Functie</div><div class="values">{entity.parents[entity.parents.length -1].parent.naam}</div></div>
			{/if}
			{#if entity.contact}
				{#each Object.keys(entity.contact) as key}
					{#if show(key)}
						<div class="keyvalue"><div class="key">{showname(key)}</div><div class="values">
							{#each (Array.isArray(entity.contact[key]) ? entity.contact[key] : [entity.contact[key]]) as item}
								<div>
								{#if typeof item == "string" }
									{#if key == "internet" || key == "contactpaginas"}
										<a href="{item}">{item}</a>
									{:elseif key == "emailadres" || key == "contactEmail"}
										<a href="mailto:{item}">{item}</a>
									{:else}
										{item}
									{/if}
								{:elseif typeof item.value == "string" }
									{#if key == "internet" || key == "contactpaginas"}
										<a href="{item.value}">{item.value}</a> {#if item.label}({item.label}){/if}
									{:elseif key == "emailadres" || key == "contactEmail"}
										<a href="mailto:{item.value}">{item.value}</a> {#if item.label}({item.label}){/if}
									{:else}
										{item.value} {#if item.label}({item.label}){/if}
									{/if}
								{:elseif typeof item.contactpaginaUrl== "string" }
									<a href="{item.contactpaginaUrl}" target='_blank' rel='noopener'>{item.contactpaginaUrl}</a>
								{:elseif key == "postAdres" || key == "bezoekAdres" }
									{#if item.straat}
										{item.straat || ''} {item.huisnummer || ''}<br>
										{item.postcode || ''} {item.plaats || ''}
									{:else}
										{item.postbus || ''}<br>
										{item.postcode || ''} {item.plaats || ''}
									{/if}
								{:else}
									{JSON.stringify(item)}
								{/if}
								</div>
							{/each}
						</div></div>
					{/if}
				{/each}
			{/if}
		</p>
	</div>
</div>
	{#if entity.medewerkers.length > 0}
<Bar>
	<span slot="header"><strong>{name(entity)}</strong> medewerkers</span>
	<div slot="body"><BoxLinks items={entity.medewerkers.map(x=>({link:makeurl(x.persoon), name:name(x.persoon) + (x.persoon.partij ? ` (${x.persoon.partij})` : '')})).sort(azn)}/></div>
</Bar>
	<!--div class="content">
		<h2>Medewerkers</h2>
		{#each entity.medewerkersNodes as item}
			<a href="/{item.systemId}/-">{item.naam || item.citeertitel || item.titel}</a><br>
		{/each}
	</div-->
	{/if}
	{#if entity.functies.length > 0}
<Bar>
	<span slot="header">Functies</span>
	<div slot="body"><BoxLinks items={entity.functies.map(x=>({link:makeurl(x.functie), name:name(x.functie)})).sort(azn)}/></div>
</Bar>
	<!--div class="content">
		<h2>Functies</h2>
		{#each entity.functiesNodes as item}
			<a href="/{item.systemId}/-">{item.naam || item.citeertitel || item.titel}</a><br>
		{/each}
	</div-->
	{/if}
	{#if entity.organisaties.length > 0}
<Bar>
	<span slot="header">Organisatie-onderdelen</span>
	<div slot="body"><BoxLinks items={entity.organisaties.map(x=>({link: makeurl(x.organisatie), name:name(x.organisatie)})).sort(azn)}/></div>
</Bar>
	<!--div class="content">
		<h2>Organisaties</h2>
		{#each entity.organisatiesNodes as item}
			<a href="/{item.systemId}/-">{item.naam || item.citeertitel || item.titel}</a><br>
		{/each}
	</div-->
	{/if}
	<!--{JSON.stringify(entity)}-->
<style>
	.imagebar {
		background: no-repeat 40%;
		background-size: cover;
		min-height: 400px;
	}
	.headerbar {
		color: #076776;
		background-color: #f2f2f2;
		position: relative;
		height: 14rem;
	}
	.breadcrumb {
		background-color: #076776;
		color: #FFF;
		height: 20%;
	}
	.breadcrumb > .container {
		padding-top: 0;
		padding-bottom: 0;
	}
	.breadcrumb > .container > .path {
		text-align: right;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		padding-left: 0.5rem;
	}
	.breadcrumb > .container > img {
		float: left;
		height: 14rem;
		max-width: 30rem;
		background-color: #FFF;
	}
	.keyvalue {
		margin-bottom: 1rem;
		display: flex;
		flex-wrap: wrap;
	}
	.key {
		min-width: 15rem;
		/*display: inline-block;*/
		font-weight: bold;
	}
/*	.values {
		width: 20rem;
		display: inline-block;
	}*/
	.reporterrorbox {
		border: 1px #f2f2f2 solid;
		float: right;
		padding: 0.5rem 1rem;
		width: 20%;
		text-align: left;
		margin-left: 1rem;
		font-weight: 600;
	}
	.reporterrorbox button {
		width: 100%;
		color: #FFF;
		background-color: #c2178a;
		border: none;
		border-radius: 0.5rem;
		padding: 0.5rem;
		font-weight: 600;
	}
</style>

<script>
    import {makeurl, name} from '../utils.js';
	const title = new Map([
		["telefoon",		"Telefoon"],
		["fax",				"Fax"],
		["emailadres",		"Email"],
		["bezoekAdres",		"Bezoek adres"],
		["postAdres",		"Postadres"],
		["internet",		"Website"],
		["contactpaginas",	"Contactformulier"],
	]);
	export default {
		helpers: {
			show: (key) => {
				return ['systemId', 'categorie', 'naam', 'afkorting', 'type'].indexOf(key) == -1;
			},
			showname: (key) => {
				return title.get(key) || key;
			},
	        makeurl,
	        name,
	        azn: (a,b) => a.name.localeCompare(b.name),
	    },
		components: {
			Bar: './Bar.html',
			BoxLinks: './BoxLinks.html',
		}
	};
</script>